@use "../../theme/variables" as v;

.label {
  color: v.$medium-shade;
  font-size: small;
}

ion-img::part(image) {
  border-radius: 5px;
}

.post {
  margin-bottom: 5px;
  text-align: center;
  background-color: #eee;
  border-radius: 5px;
}

.front {
  z-index: 9;
}

.back {
  z-index: 0;
}
