<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Memes View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6" *ngFor="let post of subredditPosts$ | async; index as position">
        <ion-label style="font-size: smaller;">{{post.title}}</ion-label>
        <ion-img [src]="post.preview.images[0].source.url"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
